body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #292828;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#katalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produk {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.produk img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produk a {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}